<!DOCTYPE html>
<head>
    <title>Coronavirus Calculator</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
<div class="container">
    <h1>Coronavirus Calculator</h1>
    <p>Cette application répertorie le nombre actuel de cas signalés à travers le monde</p>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Nombre total de cas signalés à ce jour</p>
        <hr class="my-4">
        <p>
            <span>Nouveaux cas signalés depuis la veille :</span>
            <span th:text="${totalNewCases}"></span>
        </p>
    </div>
    <table class="table table-striped table-dark table-hover">
        <tr>
            <th>Etat</th>
            <th>Pays</th>
            <th>Total de cas reportés</th>
            <th>Changement depuis hier</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.deltaFromPreviousDate}">0</td>
        </tr>
    </table>
</div>
</body>

</html>
